[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LRMF3"]
	path = LRMF3
	url = https://github.com/rohelab/lrmf3
[submodule "fastRG"]
	path = fastRG
	url = https://github.com/rohelab/fastrg
[submodule "fastadi"]
	path = fastadi
	url = https://github.com/rohelab/fastadi
[submodule "invertiforms"]
	path = invertiforms
	url = https://github.com/rohelab/invertiforms
[submodule "sparseLRMatrix"]
	path = sparseLRMatrix
	url = https://github.com/rohelab/sparselrmatrix
[submodule "vsp"]
	path = vsp
	url = https://github.com/rohelab/vsp
