[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fastadi"]
	path = fastadi
	url = https://github.com/rohelab/fastadi
	shallow = true
	registered = true
[submodule "fastRG"]
	path = fastRG
	url = https://github.com/rohelab/fastrg
	shallow = true
	registered = true
[submodule "invertiforms"]
	path = invertiforms
	url = https://github.com/rohelab/invertiforms
	shallow = true
	registered = true
[submodule "sparseLRMatrix"]
	path = sparseLRMatrix
	url = https://github.com/rohelab/sparselrmatrix
	shallow = true
	registered = true
[submodule "vsp"]
	path = vsp
	url = https://github.com/rohelab/vsp
	shallow = true
	registered = true
